<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"  lang="ko">
<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>


    <!-- 인증된 사용자에게만 보이는 영역 -->
    <div sec:authorize="isAuthenticated()">
        사용자 이름: <span sec:authentication="name"></span>
        권한: <span sec:authentication="principal.authorities"></span>
    </div>
    <!-- 로그인을 안한 상태 -->
    <a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>

    <!-- 로그인을 한 상태 -->
    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>

</div>
</body>
</html>