<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>

<body>
<div class="login-container">
    <h2>Login</h2>
    <form th:action="@{/login-process}" method="post">
        <div>
            <label>
                <input type="text" name="username" placeholder="Username"/>
            </label>
        </div>
        <div>
            <label>
                <input type="password" name="password" placeholder="Password"/>
            </label>
        </div>
        <input type="submit" value="Log in" />
    </form>
</div>
</body>

</html>