<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
    <link th:href="@{/css/signup.css}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body class="gradient-custom">
<section class="d-flex vh-100">
    <div class="container-fluid row justify-content-center align-content-center">
        <div class="card bg-dark" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                <h2 class="text-white">SIGN UP</h2>
                <p class="text-white-50 mt-2 mb-5">서비스 사용을 위한 회원 가입</p>

                <div class = "mb-2">
                    <form th:action="@{/signup}" method="POST">
                        <!-- 토큰을 추가하여 CSRF 공격 방지 -->
                        <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}" />
                        <div class="mb-3">
                            <label class="form-label text-white">User Id</label>
                            <input type="text" class="form-control" id="userId" name="userId" required>
                            <button type="button" id="checkId">중복확인</button>
                        </div>
                        <div class="mb-3">
                            <label class="form-label text-white">User Password</label>
                            <input type="password" class="form-control" name="userPw" required>
                        </div>

                        <div id="contents">
                            받는사람 : <input type="text" id="to" name="to" required/>   <!-- 인증번호 받을사람 휴대폰 번호 -->
                            <button type="button" id="send">전송</button><br> <!-- 문자보내는 전송버튼 -->

                            인증번호 : <input type="text" id="userNum" required>   <!-- 인증번호 입력창 -->
                            <button type="button" id="enterBtn">확인</button>  <!-- 인증번호와 내가 입력창에 입력한 인증번호 비교하는 창 -->
                        </div>
                        <script type="text/javascript">
                            $('#checkId').click(function () {
                                const userId = $('#userId').val();

                                if (!userId) {
                                    alert('아이디를 입력해주세요.');
                                    return;
                                }
                                $.ajax({
                                    url: '/check/sendId/'+ userId,
                                    type: 'GET',
                                    success: function (data) {
                                        // alert(data)
                                        if (data === true){
                                            alert('이미 사용 중인 아이디입니다.');
                                        }
                                        else {
                                            alert('사용 가능한 아이디입니다.');
                                        }
                                    }
                                }
                                )
                            })

                            $('#send').click(function() {

                                const to = $('#to').val();
                                alert("to : "+to)

                                $.ajax ({
                                    url: '/check/sendSMS',
                                    type: 'POST',
                                    data: {
                                        "phoneNum" : to
                                    },
                                    success: function(data) {

                                        const checkNum = data;
                                        alert('checkNum:'+ checkNum);

                                        $('#enterBtn').click(function() {
                                            const userNum = $('#userNum').val();

                                            if(checkNum === userNum) {
                                                alert('인증 성공하였습니다.');
                                            }
                                            else {
                                                alert('인증 실패하였습니다. 다시 입력해주세요.');
                                                // document.location.href="/";
                                            }
                                        });

                                    }
                                });

                            });
                        </script>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>