<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <title>file upload</title>
</head>
<body>
<h2>파일 업로드</h2>

<form action="/upload" method="post" enctype="multipart/form-data">

    <h4>단일 파일 업로드</h4>
    <input type="file" name="file">

    <h4>다중 파일 업로드</h4>
    <input type="file" multiple="multiple" name="files">

    <input type="submit"/>
</form>
</body>